

@keyframes my-animation {        
  from {
    opacity : 0;
    top : -500px;
  }
  to {
    opacity : 1;
    top : 0;
  }      
}

.run-animation {
  position: relative;
  animation: my-animation 4s ease;
}

.default-box {
	margin-top: 300px;
  margin-left:100px;
  height: 200px;
  width: 200px;
}

#box {
  background-color: Red;
}
#box2 {
  background-color: Green;
}
#box3 {
  background-color: Blue;
}
#box4 {
  background-color: Yellow;
}